@font-face {
  font-family: "iconfont"; /* Project id 2299850 */
  src: url('./iconfont.woff2') format('woff2'),
       url('./iconfont.woff') format('woff'),
       url('./iconfont.ttf') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconuser1:before {
  content: "\e61c";
}

.iconpassword:before {
  content: "\e612";
}

.iconjuanzengxinxifabu:before {
  content: "\e610";
}

.icontongji:before {
  content: "\e646";
}

.icontoggle-left:before {
  content: "\e680";
}

.icontoggle-right:before {
  content: "\e681";
}

.iconlabel1:before {
  content: "\e6bc";
}

.iconshousuo:before {
  content: "\e616";
}

.iconuserinfo:before {
  content: "\e6a8";
}

.iconmodify:before {
  content: "\e603";
}

.icontype:before {
  content: "\e779";
}

.iconlog-out:before {
  content: "\e601";
}

.iconziyuan:before {
  content: "\e64e";
}

.iconeditor-screen-full:before {
  content: "\e8c7";
}

.iconblog:before {
  content: "\e70f";
}

.iconuser:before {
  content: "\e62d";
}

.iconhome:before {
  content: "\eb1b";
}

.iconshezhi:before {
  content: "\e602";
}

.iconmessage:before {
  content: "\e63c";
}

.icontime:before {
  content: "\e640";
}

.iconxiangmu:before {
  content: "\e600";
}

.icontimeline:before {
  content: "\e728";
}

.iconabout:before {
  content: "\e6b4";
}

.iconarchive:before {
  content: "\e645";
}

.iconarticle:before {
  content: "\e84f";
}

.iconemail:before {
  content: "\e62c";
}

.iconQQ:before {
  content: "\e631";
}

.iconicon-test:before {
  content: "\e65d";
}

.iconicon-test1:before {
  content: "\e65e";
}

.iconicon-test2:before {
  content: "\e65f";
}

.iconicon-test3:before {
  content: "\e660";
}

.iconicon-test4:before {
  content: "\e661";
}

.iconicon-test5:before {
  content: "\e662";
}

.icondingtalk:before {
  content: "\e666";
}

