@height: 100vh / 1080px;
@height1: 72px * @height;

.layout_box {
  min-height: 100vh;
  position: relative;
}

.layout_main_box {
  flex-direction: row;

  :global {

    .ant-spin-nested-loading,
    .ant-result {
      flex: 1;
    }

    .icon {
      margin-right: 10px;
    }
  }
}

.layout_left {
  width: 200px;
}

.layout_left_menu {
  height: 100%;
  border-right: 0;
  width: 220px;
  height: calc(100vh - @height1);
}

.layout_right {
  padding: 24px 24px 24px;
}

.layout_breadcrumb {
  margin: 16px 0;
}

.layout_content {
  padding: 24px;
  margin: 0;
  background-color: #fff;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;

  :global {
    .ant-menu .icon {
      display: none;
    }
  }

  .logout {
    height: 24px;
    line-height: 24px;
    cursor: pointer;
    display: flex;
    align-items: center;

    i {
      font-size: 20px;
      margin-right: 8px;
      color: #0bb80b;
    }
  }
}

:global(.ant-layout-header) {
  background: #fff;
  box-shadow: 0 0 6px rgba(42, 175, 143, 0.1);
  height: @height1;
  width: 100%;
  z-index: 1;
  padding-left: 50px;
}